* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 15px 30px;
}

a {
  list-style: none;
  text-decoration: none;
}

.btn-primary {
  display: inline-block;
  background: #000000;
  color: white;
  border-radius: 30px;
}
.btn-primary:hover {
  background: #21d997;
  color: white;
  cursor: pointer;
}

.btn-secondary {
  display: inline-block;
  background: #21d997;
  color: white;
  border-radius: 30px;
  border: none;
}
.btn-secondary:hover {
  background: #000000;
  color: white;
  cursor: pointer;
}

.-mb {
  margin-bottom: 4rem;
}

.-mb1 {
  margin-bottom: 3rem;
}

.-mb2 {
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 1.3;
}

/* Styles */
/*
 | ---------------------------------------------
 | ---------------------------------------------
 | - header
 | ---------------------------------------------
 | ---------------------------------------------
*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6rem;
  padding: 0 4rem;
  z-index: 100;
  position: relative;
  background-color: white;
}

.logo {
  width: 100%;
}

.menuHamburger {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.menuHamburger__text {
  font-size: 1rem;
  width: 5rem;
  color: red;
}
.menuHamburger__button {
  display: flex;
}

/*
 | ---------------------------------------------
 | ---------------------------------------------
 | - rotator
 | ---------------------------------------------
 | ---------------------------------------------
*/
.rotator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.4));
}

.rotatorVideo {
  width: 100%;
  height: auto;
  z-index: -1;
  filter: grayscale(1) contrast(0.9);
}

.rotatorText {
  position: absolute;
}
.rotatorText__title {
  font-size: 5rem;
  font-weight: 500;
  line-height: 5.5rem;
  text-align: center;
}
.rotatorText__subtitle {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}
.rotatorText__button {
  display: flex;
  justify-content: center;
}
.rotatorText__button a {
  font-size: 14px;
}
.rotatorText span {
  color: #21d997;
}

/*
 | ---------------------------------------------
 | ---------------------------------------------
 | - aboutUs
 | ---------------------------------------------
 | ---------------------------------------------
*/
.aboutUs__wrapper {
  display: flex;
  padding: 3.7rem 8rem;
}
.aboutUs__wrapper:nth-child(odd) {
  background: #f6f6f6;
}
.aboutUs__wrapper:nth-child(even) {
  flex-direction: row-reverse;
}
.aboutUs__wrapper:nth-child(even) .aboutUs__image {
  justify-content: start;
}
.aboutUs__wrapper:nth-child(3) {
  padding: 0 0 0 8rem;
}
.aboutUs__wrapper:nth-child(4) {
  padding: 0 8rem 0 0;
}
.aboutUs__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 60%;
}
.aboutUs__text:nth-child(1) {
  max-width: 650px;
}
.aboutUs__image {
  display: flex;
  justify-content: end;
  flex: 1 40%;
}

/*
 | ---------------------------------------------
 | ---------------------------------------------
 | - contactForm
 | ---------------------------------------------
 | ---------------------------------------------
*/
.contactForm {
  margin: 4rem;
}
.contactForm__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/bgc-contactForm.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 45rem;
  padding: 7rem;
}
.contactForm__title {
  text-align: center;
}
.contactForm .btn-secondary {
  padding: 13px 80px;
  font-size: 14px;
}
.contactForm input {
  min-width: 750px;
  padding: 15px 20px;
  border-radius: 14px;
  border: 1px solid #21d997;
  margin-bottom: 0.6rem;
}
.contactForm label {
  position: relative;
  top: 0.5rem;
  left: 1rem;
  font-size: 13px;
  background: #E2EBEB;
  border-radius: 8px;
  padding: 0.1rem 0.3rem;
}
.contactForm button {
  display: block;
  margin: 0 auto;
}

/*
 | ---------------------------------------------
 | ---------------------------------------------
 | - footer
 | ---------------------------------------------
 | ---------------------------------------------
*/
.footer {
  display: flex;
  font-family: "Poppins", sans-serif;
  background: #000000;
  color: white;
  padding: 5rem 7rem;
}
.footer__title {
  flex: 1 30%;
  display: flex;
  justify-content: center;
}
.footer__menu {
  display: flex;
  justify-content: space-around;
  flex: 1 70%;
}
.footer__menuColum {
  font-size: 16px;
}
.footer__menuColum:nth-child(3) a {
  color: #21d997;
}
.footer__menuColum p {
  margin-bottom: 1.3rem;
}
.footer__menuColum ul {
  list-style: none;
}
.footer__menuColum ul li {
  font-size: 15px;
  opacity: 0.8;
}
.footer__menuColum ul a {
  color: white;
}

/*
 | ---------------------------------------------
 | ---------------------------------------------
 | - countTimer
 | ---------------------------------------------
 | ---------------------------------------------
*/
.countTimer {
  background: #21d997;
  padding: 2.5rem 0;
}
.countTimer__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.countTimer__title p {
  font-size: 3rem;
  font-weight: 500;
  color: white;
}
.countTimer__counter {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  color: white;
}
.countTimer__items {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.countTimer__itemData {
  width: 90px;
  height: 90px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.countTimer .btn-primary {
  background: white;
  color: #000000;
}

.countTimer__itemData .countTimer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: transparent;
}

/*# sourceMappingURL=style.css.map */
